

.casa-caja{
	background-color: #AFEEEE;
	width: 1250px ; 
	height: 600px;
	position: relative;	  
}

.pasto{
	background-color: green;
	width:1250px ; 
	height: 80px;
	border: 1px solid black;
	position:absolute;
	top: 550px;

}

.base{
	background-color: #A0522D;
	width: 310px ; 
	height: 215px;
	position: absolute;
	top:335px;
	left:400px;
	border:1px #800000;
	}

.techo{
	width: 300px;
    height: 0px;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 130px solid black;
    position: relative;
    top:205px;
    left:340px;
}	
.ventana_1{
	background-color:#87CEEB;
	width: 40px ; 
	height: 60px;
	border: 3px solid white;
	position: absolute;
	top: 400px;
	left:440px;
}

.ventana_2{
	background-color: #87CEEB;
	width: 40px ; 
	height: 60px;
	border: 3px solid white;
	position: absolute;
	top: 400px;
	left:620px;
}

.puerta{
	background-color: #6A5ACD;
	width: 70px ; 
	height: 150px;
	border: 2px solid silver;
	position: absolute;
	top: 400px;
	left:515px;

}

.chimenea{
	background-color: #FF8C00;
	width: 25px ; 
	height: 35px;
	border: 1px solid black;
	position: relative;
	top: 39px;
	left: 600px;

}
.humo_1{
	width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: grey;
    position: absolute;
    bottom: 432px;
    left: 610px;
}
.humo_2{
	width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #C0C0C0;
    position: relative;
    left:630px; 
    bottom: 55px;
    /*bottom: 450px;
    left: 615px;*/
}

.humo_3{
	width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #DCDCDC;
    position: relative;
    bottom: 100px;
    left: 650px;
}











